.button-class {
    background-color: lavender;
    border: 2px solid purple;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}