* {
    box-sizing: border-box;
}

body {
    background-color: rgb(86, 80, 125);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }

.heading {
    display: grid;
    text-align: center;
    align-content: center;
}

.pokemon-list-item {
    background-color: lavender;
    border: none;
    border-radius: 5px;
    padding: 40px;
    margin: 4px 2px;
    color: black;
    text-transform: capitalize;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    display: grid;
    align-items: center;
    list-style-type: none;
}

.pokemon-list-item:hover {
    animation: grow-and-shrink 0.6s ;
    cursor: pointer;
}

.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(117, 117, 117, 0.94);

}

.modal {   
    position:absolute;
    display:grid;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    background-color: lavender;
    border: none;
    border-radius: 5px;
    padding: 40px;
    margin: 4px 2px;
    align-items: center;
}

/* @keyframes bounce {
    40%{
        transform: translateY(-6px); 
    }    
} */

/* @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

  /* @keyframes slide-up {
    100% {
        transform: translateY(-50%);
    }
    0% {
        transform: translateY(-25%);
    }    
  } */

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

h2 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: normal;
    margin-top: 0;
    color: black;
    text-align: center;
}

p {
    font-weight: lighter;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px; 
}

img {
    height: 180px;
    margin: 0 auto;
}


ul {   
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

button{
    background-color: lavender;
    padding: 5px 5px;
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 3px;
    transition: transform 100ms;
}

.pokemon-card > .modal-close{
    display: flex;
    justify-content: flex-end;
}

.modal-close:hover {
   cursor: pointer;
   transform: translateY(-1px);
   box-shadow: 0px 1px 2px rgb(199, 199, 213);
}
